<div class="app flex-row align-items-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-5">
        <div class="card-group">
          <div class="card p-3 card-login">
            <div class="card-header">Reestablecer contraseña</div>
            <div class="card-body">
              <div ng-show="!vm.mensaje" class="container">
                <form
                  ng-submit="vm.guardarDatos(vm.appuser)"
                  novalidate
                  name="vm.appuserForm"
                >
                  <formly-form
                    model="vm.appuser"
                    fields="vm.appuserFields"
                    options="vm.options"
                    novalidate
                  >
                    <button
                      type="submit"
                      class="btn btn-primary submit-button"
                      ng-disabled="vm.appuserForm.$invalid || !vm.verificarContrasena(vm.appuser) || vm.dataSaving"
                    >
                      Guardar
                    </button>
                    <span ng-show="vm.dataSaving">
                      <i
                        ng-show="vm.dataSaving"
                        class="fa fa-circle-notch fa-spin"
                      ></i>
                      Aguarde un momento..</span
                    >
                  </formly-form>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
