<div class="animated fadeIn">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header text-white bg-info">
                    <i class="fa fa-align-justify"></i> Asesorados 
                </div>
                <div class="card-body " style="overflow-x:auto;">
                 
                        <ul class="list-group list-group-flush" ng-repeat="c in vm.asesorados">
                          <li class="list-group-item"> 
                            <a class="text-info"  >{{c.asesoradoNombreApellido}}</a>
                              <button ng-click="vm.solicitar(c.usuarioId)" class="btn btn-default btn-sm float-right"> Ver Detalles</button>
                          </li>
                        </ul>
                </div>
                      
        </div>
    </div>
</div>
</div>