<div class="animated fadeIn">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header text-white bg-info">
                    <i class="fa fa-align-justify"></i> Cuentas
                   
                    <div class="card-actions">
                        <a style="width: 80px;" role="button"
                            ui-sref="app.maestros.cuentaRegistrar"
                            class="btn float-right text-white bg-info" uib-popover="Registrar nuevo"
                            popover-trigger="'mouseenter'" popover-placement="auto left">
                            <i class="fa fa-plus" aria-hidden="true"></i> Nuevo
                        </a>
                    </div>
                </div>
                <div class="card-body " style="overflow-x:auto;">
                 
                        <ul class="list-group list-group-flush" ng-repeat="c in vm.cuentas">
                          <li class="list-group-item"> 
                            <a class="text-info" ui-sref="app.maestros.cuentaEditar({ id: c.usuarioCuentaId })" >{{c.usuarioCuentaDescripcion}}</a>
                              <button ng-click="vm.eliminar(c.usuarioCuentaId)" class="btn btn-default btn-sm float-right"><i class="fa fa-trash-o"></i></button>
                          </li>
                        </ul>
                      </div>
                <div class="card-body" style="overflow-x:auto;" ng-if="!vm.cuentas.length && !vm.dataLoading">
                    
                    <a >
                        <h4 >No posee cuentas aún.</h4>
                    </a>
                    
            </div>
        </div>
    </div>
</div>
</div>