<div class="app flex-row align-items-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-5">
        <div class="card-group">
          <div class="card p-3 card-login">
            <div class="card-body">
             
              <div ng-show="!vm.mensaje" class="container">
                <form class="form-signin" ng-submit="vm.restablecerContrasena(vm.appuser)" novalidate name="vm.loginRestablecerForm">
                    <formly-form model="vm.appuser" fields="vm.loginRestablecerFields" novalidate>
                    </formly-form>
                    <button class="btn btn-lg btn-primary btn-block" type="submit" ng-disabled="vm.loginRestablecerForm.$invalid  || vm.dataSaving">Reestablecer</button><br>
                    <span ng-show="vm.dataSaving">  <i ng-show="vm.dataSaving" class="fa fa-circle-notch fa-spin"></i> Aguarde un momento..</span>
              
                </form>
              </div>
              
              <div ng-show="vm.mensaje" class="text-center">
                <strong><h2>Link Enviado</h2></strong>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

